@using BanMoHinh.Share.Models;
@using System.Linq;
@using BanMoHinh.Share.ViewModels;
@model IEnumerable<BanMoHinh.Share.ViewModels.ProductVM>;
@{

    List<ProductDetailVM> productDetail = ViewData["productDetail"] as List<ProductDetailVM>;
    List<ProductImage> ProductImage = ViewData["ProductImage"] as List<ProductImage>;

}
@*Lưu trạng thái khi lọc*@
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var sortOrder = document.getElementById('sortOrder');
        var savedValue = localStorage.getItem('selectedValue');

        if (savedValue) {
            sortOrder.value = savedValue;
        }

        sortOrder.addEventListener('change', function() {
            localStorage.setItem('selectedValue', this.value);
            this.form.submit();
        });
    });
</script>
@*có gì viết xuống đây nha*@

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <!-- sidenav-section -->
                <div id="cssmenu">
                    <ul>
                        <li class="has-sub">
                            <a href="#">Hệ điều hành</a>
                            <ul>

                                <li class="even">
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Tất cả</span>
                                    </label>
                                </li>
                                <li class="odd">
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Android</span>
                                    </label>
                                </li>
                                <li class="even">
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">ISO</span>
                                    </label>
                                </li>

                            </ul>
                        </li>
                        <li class="has-sub">
                            <a href="#">Hãng sản xuất</a>
                            <ul>
                                <li class="odd">
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Tất cả </span>
                                    </label>
                                </li>
                                <li class="even">
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Samsung</span>
                                    </label>
                                </li>
                                <li class="odd">
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Apple</span>
                                    </label>
                                </li>
                                <li class="even">
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Xiaomi</span>
                                    </label>
                                </li>
                                <li class="odd">
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Vsmart</span>
                                    </label>

                                </li>
                                <li class="even">
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">OPPO</span>
                                    </label>
                                </li>
                                <li class="odd">
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Vivo</span>
                                    </label>
                                </li>
                                <li class="even">
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Nokia</span>
                                    </label>
                                </li>
                                <li class="odd">
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Huawei</span>
                                    </label>
                                </li>

                            </ul>
                        </li>
                        <li class="has-sub">
                            <a href="#">Giá Bán</a>
                            <ul>
                                <li class="even">
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Tất cả</span>
                                    </label>
                                </li>
                                <li class="odd">
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Dưới 2 triệu</span>
                                    </label>
                                </li>
                                <li class="even">
                                    <span>
                                        <label>
                                            <input type="checkbox">
                                            <span class="checkbox-list">Từ 2 - 5 triệu</span>
                                        </label>
                                    </span>
                                </li>
                                <li class="odd">
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Từ 5 - 10 triệu</span>
                                    </label>
                                </li>

                                <li class="even">
                                    <span>
                                        <label>
                                            <input type="checkbox">
                                            <span class="checkbox-list">Từ 10 - 15 triệu</span>
                                        </label>
                                    </span>
                                </li>
                                <li class="odd">
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Trên 15 triệu</span>
                                    </label>
                                </li>

                            </ul>
                        </li>
                        <li class="has-sub">
                            <a href="#">Màn hình</a>
                            <ul>
                                <li class="even">
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Tất cả</span>
                                    </label>
                                </li>
                                <li class="odd">
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Dưới 5.0 inch</span>
                                    </label>
                                </li>
                                <li class="even">
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Trên 6.0 inch</span>
                                    </label>
                                </li>

                            </ul>
                        </li>
                        <li class="has-sub">
                            <a href="#">Bộ nhớ trong</a>
                            <ul>
                                <li class="odd">
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Tất cả</span>
                                    </label>
                                </li>
                                <li class="even">
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Dưới 32GB</span>
                                    </label>
                                </li>
                                <li class="odd">
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">64GB và 128GB</span>
                                    </label>
                                </li>
                                <li class="even">
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">256GB và 512GB</span>
                                    </label>
                                </li>

                                <li class="odd">
                                    <label>
                                        <input type="checkbox">
                                        <span class="checkbox-list">Trên 512GB</span>
                                    </label>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <!-- /.sidenav-section -->
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb10 alignright">
                        <form asp-controller="Product" asp-action="FilterName" method="get">
                            <div class="select-option form-group">
                                <select id="sortOrder" name="sortOrder" class="form-control" placeholder="Sắp xếp theo">
                                    <option value="" default="">Sắp xếp theo</option>
                                    <option value="best-selling">Bán Chạy</option>
                                    <option value="low-price">Giá Thấp</option>
                                    <option value="high-price">Giá Cao</option>
                                    <option value="a">A-Z</option>
                                    <option value="z">Z-A</option>
                                </select>
                                <input type="submit" style="display: none;" />
                            </div>
                        </form>

                    </div>
                </div>
                <div class="row">
                    <!-- product -->
                    @foreach (var item in Model) {
                        IEnumerable<ProductDetailVM> LstProductDetail = productDetail.Where(c => c.ProductId == item.Id); // lấy list productdetail

                        if (LstProductDetail.Any())
                        {
                            var priceMin = LstProductDetail.Min(c => c.PriceSale);
                            var priceMax = LstProductDetail.Max(c => c.PriceSale);

                            var productDetailID = LstProductDetail.First().Id; // lấy id productdetail đầu tiên

                            var lstProductImage = ProductImage.Where(c => c.ProductDetailId == productDetailID); // lấy list img

                                var imgFirst = lstProductImage.First().ImageUrl; // lấy img đầu tiên

                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30">
                                <a href="/Product/ProductDetail/@item.Id">
                                </a><div class="product-block">
                                    <a href="product-single.html">
                                        <div class="product-img"><img src="https://localhost:7007/@imgFirst" alt=""></div>
                                    </a><div class="product-content">
                                        <a href="product-single.html">
                                        </a><h5>
                                            <a href="product-single.html"></a><a href="#" class="product-title">
                                                @item.ProductName
                                            </a>
                                        </h5>
                                        <div class="product-meta">
                                              @priceMin đ - @priceMax đ
                                          @*  <span class="offer-price">20%off</span>*@
                                        </div>
                                        <div class="shopping-btn">
                                            <a href="/Product/ProductDetail/@item.Id" class="product-btn btn-like"><i class="fa fa-heart"></i></a>
                                            <a href="#" class="product-btn btn-cart"><i class="fa fa-shopping-cart"></i></a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        }
                        else
                        {
                            var stt = 1;
                        }

                       
                    }
                    <!-- /.product -->
                </div>
                <div class="row">
                    <!-- pagination start -->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="st-pagination">
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="previous"><i class="fa fa-angle-left" style="font-size: 16px;"></i></a>
                                </li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li> <a href="#" aria-label="Next"><i class="fa fa-angle-right" style="font-size: 16px;"></i></a></li>
                                <a href="#" aria-label="Next">
                                </a>
                            </ul><a href="#" aria-label="Next">
                            </a>
                        </div><a href="#" aria-label="Next">
                        </a>
                    </div><a href="#" aria-label="Next">
                        <!-- pagination close -->
                    </a>
                </div><a href="#" aria-label="Next">
                </a>
            </div><a href="#" aria-label="Next">
            </a>
        </div><a href="#" aria-label="Next">
        </a>
    </div><a href="#" aria-label="Next">
    </a>
</div>