
<section class="banner-area organic-breadcrumb">
<div class="container">
    <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
    </div>
</div>
</section>
<section class="breadcrumb-ctn mt-3">
    <div class="container">
        <nav aria-label="breadcrumb ">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Gi ới thiệu và chính sách</li>
            </ol>
        </nav>
    </div>
</section>
<!-- start banner Area -->
<section class="banner-area">
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="box">
                    <!-- about description -->
                    <div class="box-head">
                        <h1 class="head-title">Chào mừng đến với luckyshop </h1>
                    </div>
                    <div class="box-body">
                        <p class="lead">
                                Nhằm mang lại cho những người đam mê xe mô hình tĩnh một sản phẩm, dịch vụ tốt nhất, LUCKYSHOP và cửa hàng Shop Xe, Mô Hình Tĩnh được ra đời.

                                Với các sản phẩm về thể loại: Ô Tô, Mô Tô, Figure, Phụ kiện, Mô hình máy bay, Tàu bay, Mô hình Công trình, Quân Sự...từ cao cấp đến bình dân.

                                Các hãng xe mô hình cao cấp như: AutoArt, Frontiart, GTSpirit...với độ nét cao và chi tiết tinh sảo nhất. Ở phân khúc bình dân hơn có Welly, Maisto...với giá bán tương đối tốt phục vụ nhu cầu của anh em.

                                Ngoài ra, Shop Xe Mô Hình Tĩnh còn có dịch vụ đặt hàng từ hãng về cho anh em theo nhu cầu.
                                <img href="https://theme.hstatic.net/1000328919/1001133469/14/slideshow_5.jpg?v=1215" alt="test2" />

                        </p>
                    </div>
                    <!-- /.about description -->
                </div>
            </div>
        </div>
    </div>
    <!-- counters -->
    <div class="container" style="" >
        <div class="row">
            <p>
                Nhằm mục tiêu thỏa mãn niềm đam mê cho các tín đồ sưu tầm mô hình tĩnh và lan tỏa thú chơi này rộng rãi hơn nữa. Bán Mô Hình Tĩnh đã không ngừng cải thiện về sự đa dạng mẫu mã, chủng loại sản phẩm và chất lượng dịch vụ. Đặc biệt là hệ thống bán hàng trực tuyến qua website của Bán Mô Hình Tĩnh.

                Đến với LUCKYSHOP, bạn sẽ dễ dàng mua hàng bằng các cú "click" chuột nhẹ nhàng mà chẳng cần phải đi đâu cả, không cần rời khỏi văn phòng hay nhà mình, được lựa chọn thoải mái, so sánh giá cả tùy thích. Hơn nữa, đội ngũ nhân viên chuyên nghiệp và nhiệt tình của Bán Mô Hình Tĩnh luôn sẵn sàng tư vấn, hỗ trợ cũng như giao hàng ngay tận nơi một cách nhanh chóng và thuận tiện cho bạn.



                    <img href="https://theme.hstatic.net/1000328919/1001133469/14/slideshow_5.jpg?v=1215" alt="test" />
                </p>
        </div>
    </div>
        <div class="container">
        <div class="row">
                <div class="form">
                    <form action="" id="form1">
                        <label type="text" id="fname" name="fname"> Địa chỉ chúng tôi</label><br><strong>Số 17 Hoa Sứ, Phường 7, Quận Phú Nhuận, TP.HCM</strong><br>
                        <label type="text" id="femail" name="femail"> Email chúng tôi</label><br><strong>vanhung@luckyshop.com</strong><br>
                        <label type="text" id="fcontent" name="fcontent" >
                            Điện thoại
                        </label><br><strong>0912222222</strong><br>
                        <label type="text" id="fcontent" name="fcontent">
                            Thời gian làm việc
                        </label><br><strong>Thứ hai đến chủ nhật - Từ 8:30 đến 21:00</strong><br>
                    </form>

                </div>
            </div>
</div>
        <h1> Google Map</h1>

      


        <div id="map"></div>
        </div>
</section>

<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>
  <script>
    function initMap() {
      var myLatLng = {lat: 21.032196, lng: 105.792278}; // Thay thế bằng tọa độ của địa điểm của bạn

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: myLatLng
      });

      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'Địa điểm của tôi'
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"
  async defer></script>
    <!-- /.counters -->
    <!-- features -->
    