@model BanMoHinh.Share.ViewModels.PostVM

@{
    ViewData["Title"] = "CreatePost";
    Layout = "~/Areas/Admin/Shared/_LayoutAdmin.cshtml";
}

<div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item active"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang Chủ</a></li>
        <li class="breadcrumb-item active"><a asp-action="Index">Danh sách bài viết</a></li>
        <li class="breadcrumb-item active"><a asp-action="CreatePost">Thêm mới</a></li>
    </ul>
</div>
<div class="row">
    <div class="container">
        <form asp-action="CreatePost" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <label class="control-label">Tiêu đề</label>
                <input asp-for="Tittle" class="form-control" />
                <span asp-validation-for="Tittle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Ảnh đại diện</label>
                <input type="file" id="file" name="file" accept="image/*" class="form-control" />
                <span asp-validation-for="filecollection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Mô tả</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Trạng thái</label><br />
                <div class="form-check form-check-inline">
                    <input asp-for="Status" class="form-check-input" type="radio" id="status1" value="1" checked />
                    <label class="form-check-label" for="status1">Xuất bản</label>
                </div>
                <div class="form-check form-check-inline">
                    <input asp-for="Status" class="form-check-input" type="radio" id="status0" value="0"  />
                    <label class="form-check-label" for="status0">Không xuất bản</label>
                </div>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Contents" class="control-label"></label>
                <div class="form-group space-top" style="margin-top: 70px;">
                    <!-- (2): textarea sẽ được thay thế bởi CKEditor -->
                    <textarea asp-for="Contents" id="edit" name="edit" cols="200" rows="80"></textarea>

                    <!-- (3): Code Javascript thay thế textarea có id='editor1' bởi CKEditor -->
                    <script>

                        CKEDITOR.replace('edit');

                    </script>
                </div>
                <span asp-validation-for="Contents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-success m-1" type="submit">Tạo</button>
                <a class="btn btn-secondary" asp-action="Index">Quay lại</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
