@* 
 @{
    ViewData["Title"] = "ListPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
                                    <h6>@item.Tittle</h6>

<div class="container">
    <div class="row">
        <div class="col-md-12">
               
                        <div class="thumbnail">
                            <a href="/>
                                <img class="d-block w-100" src="@(Configuration["BaseAddress"]+ item.TittleImage)">
                                    <p>@item.Contents</p>
                                </div>
                        </div>
               
        </div>
    </div>
</div> *@