@model IEnumerable<BanMoHinh.Share.Models.Post>

<div class="space-medium">
    <div class="container">
        <div class="row">
            <div class="isotope">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 post-masonry ">
                    @foreach (var item in Model)
                    {
                        <div class="post-block">
                            <!-- post block -->
                            <h3 class="post-title"><a href="#" class="title">@item.Tittle</a></h3>
                            <div class="meta">
                                <span class="meta-date">20 December 10, 2020</span>
                                <span>|&nbsp; &nbsp;</span>
                                <span class="meta-admin">By <a href="#" class="meta-title">Admin</a></span>
                            </div>
                            <div class="post-img">
                                <a href="#" class="imghover">
                                    <img src="@item.TittleImage" class="img-responsive">
                                </a>
                            </div>
                            <div class="post-content">
                                <p>
                                    @item.Description.Substring(0, Math.Min(100, item.Description.Length));
                                </p>
                                <a href="#" class="btn-link"><center>ĐỌC THÊM </center></a>
                            </div>
                        </div>
                    }          
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="st-pagination">
                <ul class="pagination">
                    <li><a href="#" aria-label="previous"><span aria-hidden="true">Trang trước</span></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#" aria-label="Next"><span aria-hidden="true">Trang sau</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>