@* @model IEnumerable<BanMoHinh.Share.ViewModels.PostVM>

@{
    ViewData["Title"] = "ListPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="breadcrumb-ctn mt-3">
    <div class="container">
        <nav aria-label="breadcrumb ">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Bài Đăng</li>
            </ol>
        </nav>
    </div>
</section>

<div class="space-medium">
    <div class="container">
         <div class="row">
             @foreach (var item in Model)
             {
                 
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/Post/DetailPost/@item.Id">
                                       <img class="d-block w-100" src="@(Configuration["BaseAddress"]+ item.TittleImage)">

        <div class="caption">
            <h6>@item.Tittle</h6>
          <p>@item.Description</p>
        </div>
      </a>
    </div>
  </div>
             }
            <div class="st-pagination">
                <ul class="pagination">
                    <li><a href="#" aria-label="previous"><span aria-hidden="true">Trang trước</span></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#" aria-label="Next"><span aria-hidden="true">Trang sau</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div> *@