@using BanMoHinh.Share.Models
@model BanMoHinh.Share.Models.Category
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Areas/Admin/Shared/_LayoutAdmin.cshtml";
    var listLoaiSP = ViewData["listLoaiSP"] as List<Category>;
}
<div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
          <li class="breadcrumb-item active"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang Chủ</a></li>
          <li class="breadcrumb-item active"><a asp-action="GetAllCategory">Danh sách danh mục</a></li>
          <li class="breadcrumb-item active"><a asp-action="Create">Thêm mới</a></li>
        </ul>    
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Tên danh mục</label>
                <input asp-for="CategoryName" class="form-control" />
                
            </div>
            <div class="form-group">
                <label asp-for="IdCategory" class="control-label"> Tên Loại SP Cha</label>
                <select class="form-control" asp-for="IdCategory" name="IdCategory">
                    @if (listLoaiSP != null)
                    {
                        <option value="null">Chọn loại sản phẩm cha</option>
                        @foreach (var item in listLoaiSP.Where(p => p.IdCategory == null).ToList())
                        {
                            <option value="@item.Id">@item.CategoryName</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-success m-1" type="submit" >Tạo mới</button>
                <a class="btn btn-secondary" asp-action="GetAllCategory" >Quay lại</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
