@model BanMoHinh.Share.Models.Size

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Shared/_LayoutAdmin.cshtml";
}


<h4 class="tile-title">Thêm mới size</h4>
<div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
          <li class="breadcrumb-item active"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang Chủ</a></li>
          <li class="breadcrumb-item active"><a asp-action="Show">Danh sách size</a></li>
          <li class="breadcrumb-item active"><a asp-action="Create">Tạo mới size</a></li>
        </ul>    
</div>
<hr />
<div class="row">
    <div class="col-md-4 table table-hover table-bordered" >
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label class="control-label">Tên size</label>
                <input asp-for="SizeName" class="form-control" />
                <span asp-validation-for="SizeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Chiều rộng</label>
                <input asp-for="Width" class="form-control" />
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Chiều cao</label>
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-save" type="submit" >Tạo</button>
                <a class="btn btn-cancel" asp-action="Show" >Quay lại</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
