@model IEnumerable<BanMoHinh.Share.Models.Size>

@{
    ViewData["Title"] = "Show";
    Layout = "~/Areas/Admin/Shared/_LayoutAdmin.cshtml";
}

<h1>Danh sách size</h1>
<div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
          <li class="breadcrumb-item active"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang Chủ</a></li>
          <li class="breadcrumb-item active"><a asp-action="Show">Danh sách size</a></li>
        </ul>
        <div id="clock"></div>
</div>
<p>
    <a asp-action="Create" class="btn btn-add btn-sm" ><i class="fas fa-plus"></i>Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên size
            </th>
            <th>
                Chiều rộng
            </th>
            <th>
                Chiều cao
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.SizeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                <a class="btn btn-primary btn-sm edit" type="button" href="Update/@item.Id" title="Sửa"><i class="fa fa-edit"></i></a>
                <a class="btn btn-primary btn-sm" style="color:cadetblue" type="button" href="Update/@item.Id" title="Sửa"><i class="fas fa-info-circle"></i></a>
                <a class="btn btn-primary btn-sm trash" type="button" href="Remove/@item.Id" title="Xóa"><i class="fas fa-trash"></i></a>
                
            </td>
        </tr>
}
    </tbody>
</table>
